.modal {
	background-color: rgba(0,0,0, 0.5) !important;
}

.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span,
.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-foot .datatable-row > .datatable-cell > span {
	color: #13b9a9 !important;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: normal;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
	background: #13b9a9  !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	color: #fff;
	font-size: 1.1rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove::before{
	font-size: 0.7rem;
	color: #fff;
}

.p-0 {
	padding: 0 !important;
}
.form-label {
	text-align: left;
	font-weight: bold;
}
.sub-header {
	color: #13b9a9 !important;
	font-weight: 700;
	padding-bottom: 1rem;
}
.float-left {
	float: left;
}
.btn-lg-radius {
	border-radius: 0.5em;
}

label.myLabel input[type='file'] {
	position: absolute;
	top: -1000px;
}
.navi .navi-link {
	color: #fff !important;
	margin: 0.5rem 0 !important;
}

.modal .select2-container {
	width: 100% !important;
}

.la-icon i {
	font-size: 2.3rem !important;
	vertical-align: bottom;
}

.standard-radius {
	border-radius: 0.42rem !important;
}

.bg-danger-hover:hover,
.bg-danger-hover:hover * {
	color: #f64e60 !important;
	background-color: #ffe2e5 !important;
}

.fit-width {
	width: auto;
	display: inline-flex;
}

.dataTables_length {
	float: left;
	margin-right: 20px;
}

.dataTables_filter {
	float: right;
}

.btn-add-datatables {
	float: right;
	margin-left: 1rem;
}
.dual-listbox .dual-listbox__container .dual-listbox__title {
	color: #0f9487;
	font-weight: 600;
	font-size: 1.2rem;
	padding: 0.75rem 0.75rem;
	border: 1px solid #EBEDF3;
	border-bottom: 0;
	border-top-left-radius: 0.42rem;
	border-top-right-radius: 0.42rem;
	background-color: #F5F5F5;
}

.radio > span {
	background-color: #ffffff;
	border: 1px solid #13b9a9;
}

.show-read-more .more-text{
	display: none;
}

.remove-product {
    color: #ffffff;
    margin-left: 5px;
}
.selected-products .product-item {
    margin-bottom: 10px;
    display: inline-block;
}
.medical-lines-section {
    overflow-y: auto;
    height: 800px;
}
.products-section {
    overflow-y: auto;
    height: 800px;
}
.spcialities-section {
    overflow-y: auto;
    height: 800px;
}

div.dual-listbox__container > div:not(.dual-listbox__buttons) {
	width: 45% !important;
}

ul.dual-listbox__available, ul.dual-listbox__selected {
	width: 100% !important;
}

#available_slots tr td{
	cursor: pointer;
}
#available_slots tbody tr:hover td, #available_slots tbody tr:hover th {
	background-color: #12ab9c;
}
.availabilities table tbody tr td.busy{
	background-color: beige;
	cursor: pointer;
}
.availabilities table tbody tr td{
	cursor: pointer;
}
.cloned-dom {
    display: none;
}

.save-btn {
    width: 200px;
}
.breadcrumbs-section {
    margin-bottom: 15px;
}
.product-total {
    background: #75f1e5;
    padding: 4px;
    border: white;
    border-radius: 15px;
}
.ask-section-container {
    /*background-image: url('../img/product-profile-tmp.jpg');*/
}
.related-product-image {
    height: 100px;
}
.related-product-section .column {
    max-height: 300px;
    margin-bottom: 40px;
}

.ck.ck-editor {
	width: 100% !important;
}
.socicon-btn:before {
    margin-right: 20px;
}
#manufacturer-products {
    max-height: 500px;
    overflow: auto;
}

.availabble-col {
	max-height: 350px;
	overflow: auto;
}
.deadline-section {
    text-decoration:none;display:inline-block;color:#ffffff;background-color:#E03A44;border-radius:26px;-webkit-border-radius:26px;-moz-border-radius:26px;width:auto; width:auto;;border-top:1px solid #E03A44;border-right:1px solid #E03A44;border-bottom:1px solid #E03A44;border-left:1px solid #E03A44;padding-top:10px;padding-bottom:10px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;text-align:center;mso-border-alt:none;word-break:keep-all;
}
.exclusive-period-year {
    text-decoration:none;display:inline-block;color:#ffffff;background-color:#3AAEE0;border-radius:26px;-webkit-border-radius:26px;-moz-border-radius:26px;width:auto; width:auto;;border-top:1px solid #3AAEE0;border-right:1px solid #3AAEE0;border-bottom:1px solid #3AAEE0;border-left:1px solid #3AAEE0;padding-top:10px;padding-bottom:10px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;text-align:center;mso-border-alt:none;word-break:keep-all;
}
