:root {
  --color-font: #4a4a4a;
  --color-primary: #04bca6;
  --color-secondary: #002ef0;
  --color-link: #04bca6;
  --color-link-hover:darken(#04bca6,6);
  --color-gradient-start: #04bca6;
  --color-gradient-stop: #2d70f2;
  --color-img-holder: #efefef;
}
